*{

    margin:0;
    padding: 0;
}


body{

background: black;

}
.botoes {

    font-family: sans-serif;
    font-size: 14px;
}


.botoes .face{

position: absolute;
padding:10px;

border: 1px solid white;

width: 200px;
text-align: end;

top: 200px;
left: 50px;
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
border-radius: 10px;



}

.botoes .face a {

    text-decoration: none;
    padding: 15px;
    color: white;

     }


     .faceimg{

    position: absolute;
     width: 50px;
     height: 50px;
      
    top: 203px;

    left: 55px;



     }


     .botoes .face:hover{

        background-image: linear-gradient( 252.6deg,  rgba(255,100,241,1) 13.2%, rgba(67,220,255,1) 81.3% );
        transition: 1.5s ease;
        
     }


     /* Botão instagram*/





     .botoes .insta{

        position: absolute;
        padding:10px;
        border: 1px solid white;
        
        width: 200px;
        text-align: end;
        
        top: 300px;
        left: 50px;
        background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        border-radius: 10px;
    
    }
        

    .botoes .insta a{

text-decoration: none;
 color: white;
 padding: 12px;
 

    }

    .instaimg{

   
        position: absolute;
        width: 40px;
        height: 40px;
         
       top: 309px;
   
       left: 60px;

    }

    .botoes .insta:hover{

  background: violet;
  transition: 1.4s ease;
    }

    .botoes .git{

        position: absolute;
        padding:10px;
        border: 1px solid white;
        
        width: 200px;
        text-align:end ;
        
        top: 400px;
        left: 50px;
        background-image: linear-gradient(to right , rgb(99, 91, 91) , black);
        border-radius: 10px;   
    
    }
    .botoes .git  a {

    text-decoration: none;
    color: white;
    padding: 20px;

     }






     .gitimg{

   
        position: absolute;
        width: 40px;
        height: 40px;
         
       top: 409px;
   
       left: 60px;

    }

    .botoes .git:hover{

    background: rgb(121, 120, 120);
    transition: 1.5s ease;
    }

    .botoes .Link{

        position: absolute;
        padding:10px;
        
        border: 1px solid rgb(112, 112, 255) ;
        
        width: 200px;
        text-align: end;
        
        top: 500px;
        left: 50px;
       background: white;
        border-radius: 10px;
        }
        

        .botoes .Link   a {

             color: rgb(60, 111, 223);
             text-decoration: none;
             padding: 20px;
        }


        .Linkimg{

   
            position: absolute;
            width: 40px;
            height: 40px;
             
           top: 509px;
       
           left: 60px;
    
        }
    

        .botoes .Link:hover{
        
        
        background: rgba(70, 70, 235, 0.616);
        transition: 1.5s;

        }

        .botoes .Link   a:hover{

            transition: 1.5s;
            color: white;
        }